/* movil first @App */
.continer {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1304d;
}

.loader:nth-child(1n) {
    width: 2rem;
    height: 2rem;
    background-color:transparent;
    border-radius: 100%;
    border: 6px solid #113CFC;
    border-top: 6px solid #ffffff;
    border-right: 6px solid #ffffff;
    border-bottom: 6px solid #ffffff;
    animation: loaderAnimation 1.2s linear infinite;
    animation-timing-function: cubic-bezier(0.35, 0.6, 0.71, 1.18);
}

@keyframes loaderAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }   
}