@import "../../_scss_styles/_COLORS.SCSS";
@import "../../_scss_styles/_STYLES.SCSS";

.menu-inter {
    position: fixed;
    background:$darkBlue;
    display: flex;
    flex-direction: column;
    align-items: center;
    right:0px;
    width: 20rem;
    height: 100vh;
    padding-top: 0.5rem;
    border-left: solid 0.4rem $white;
    box-shadow: 0px 15px 10px 12px rgba(0, 0, 0, 0.219) ;
    @include transition;
    .user {
        width: 90%;
        min-height: 10%;
        flex-direction: column;
        border-radius: 100rem;
        @include flexCenterAll;
        .title {
            margin: 1rem;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            font-weight: 700;
        }
        .profile-picture {
            width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            border-radius: 100rem;
            animation: border 15s infinite;
            transition: all 0.3s linear;
            transition-timing-function: cubic-bezier(0.29,-0.37, 0.65, 1.18);
            @keyframes border {
                0% {
                    border: rgb(252, 255, 96) solid 0.2rem;
                }
                25% {
                    border: $blueLinks solid 0.2rem;
                }
                50% {
                    border: $ligthRead solid 0.2rem;
                }
                75% {
                    border: $orange solid 0.2rem;
                }
                100% {
                    border: rgb(252, 255, 96) solid 0.2rem;
                }
            }
            img {
                width: 100%;
                border-radius: 100rem;
            }
        }
        input {
            @include input;
        }
        
    }
    .email-verified {
        width: 70%;
        min-height: 3rem;
        color: white;
        background-color: rgba(0, 0, 0, 0.37);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        border-radius: 1rem;
        margin-top: 1rem;
        align-items: center;
        .icon {
            width: 2rem;
            height: 2rem;
            background: url(../../assets/icons/check.png);
            background-position: center;
            background-size: cover;
            margin-left: 0.5rem;
        }
        .text {
            width: 80%;
            border-radius: 1rem;
            height: 100%;
            justify-items: center;
            align-items: center;
            display: flex;
            margin-left: 0.5rem;
            
        }
    }

    .logOutBtn {
        width: 40%;
        height: 3rem;
        margin-top: 1rem;
        background-color: $blueLinks;
        border-radius: 1rem;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
        @media screen and(max-width:720px) {
            width: 70%;
        }
    }
}