@import "../../_scss_styles/_COLORS.SCSS";
@import "../../_scss_styles//_STYLES.SCSS";

.gen-continer {
    width: 100%;
    height: 100vh;
    background-color:$darkGray;
    @include flexCenterAll;
    @include transition;
    .box-sign{
        width: 40%;
        min-height: 70%;
        flex-direction: column;
        background-color: $darkBlue;
        border-radius: 2rem;
        border-left: solid 1rem $ligthRead;
        @include shadow;
        @include flexCenterAll;
        @include transition;
        @media screen and (max-width:720px) {
            width: 92%;
        }

        .warning {
            @include flexCenterAll;
            background-color: $ligthRead;
            padding: 0.5rem;
            border-radius: 1rem;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            @include transition;
            @media screen and(max-width:900px) {
                font-size: 0.8rem;
                padding: 0.4rem;
                text-align: center;
            }
        }

        h2 {
            color:$white;
            font-size: 2rem;
            text-transform: uppercase;
            @include transition;
            @media screen and(max-width:900px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .log-in-form {
            width: 70%;
            height: 30%;
            @include transition;
            @include flexCenterAll;
            flex-direction:column;
            &:nth-child(n){
                input {
                    @include input;
                }
            }
        }
    }
    .sbmt-btn {
        width: 100%;
        flex-direction: column;
        color: $white;
        label {
            margin-bottom: 0.5rem
        }
        @include flexCenterAll;
        @include transition;
        .submit-btn {
            @include button
        }
    }
    .external-logs{
        width: 100%;
        padding: 0.5rem;
        min-height: 2rem;
        @include flexCenterAll;
        button {
            background-color: transparent;
            padding: 5px;
        }
        #google {
            width: 2rem;
            margin: 0.5rem;
            height: 2rem;
            background: url('../../assets/icons/google.png');
            background-size: cover;
            cursor: pointer;
        }
        #facebook {
            width: 2rem;
            margin: 0.5rem;
            height: 2rem;
            background: url('../../assets/icons/facebook.png');
            background-size: cover;
            cursor: pointer;
        }
        #gitHub {
            width: 2rem;
            margin: 0.5rem;
            height: 2rem;
            background: url('../../assets/icons/github.png');
            background-size: cover;
            cursor: pointer;
        }

    }
}